/* smaller code block font size. !important needed to override theme
 * which inserts it's CSS late */
code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.80rem !important;          /* e.g. 14 px if body text is 16 px  */
  line-height: 1.4 !important;
}

/* do not capitalize tags/labels */
.post-tag {
	text-transform: unset;
}

.table-no-wrap table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.95em;
  border: 1px solid #ccc;
}

.table-no-wrap table th,
.table-no-wrap table td {
  border: 1px solid #ccc;
  padding: 0.5em 0.75em;
  text-align: left;
  white-space: nowrap;
}

.table-no-wrap table thead {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table-no-wrap table tbody tr:nth-child(even) {
  background-color: #fafafa;
}
